//Student Name: Meitong Liu
//Student ID:   101014282
//Citation:     COMP2406 course note 

html
  head
    title 404: File not found!
    link(rel='stylesheet', type='text/css',href='style.css')
    body
      h1 404: File not found!